.ContentProfile {
    padding-top: 90px;
    margin-left: 30px;
}

.TextProfile {
    color: #065C9E;
    font-weight: bold;
    font-size: 60px;
}

.Name {
    color: #065C9E;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.ImageInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Image {
    border-radius: 100px;
}

.Information {
    display: flex;
    flex-direction: column;
}

.cardProfile {
    border-radius: 16px;
    border: 1px solid #B4BED9;
    background: #FFF;
    width: 1004px;
    height: 560px;
    margin-left: 200px;
}

.input {
    background-color: #FDFDFD;
    background-size: 20px;
    padding-right: 30px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: right center;
    width: 305px;
    height: 52px;
}